<div id="<%= dom_id position %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Symbol:</strong>
    <%= position.symbol %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= position.quantity %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this position", portfolio_positions_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this position', "/portfolios/#{params[:portfolio_id]}/positions/#{params[:id]}", class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
