<div id="<%= dom_id portfolio %>" >
  <span class="my-5 inline-block mr-5">
    <span class="block font-medium mb-1 inline-block">Name:</span>
    <span class="font-bold"><%= portfolio.name %></span>
  </span>

  <span class="my-5 inline-block mr-5">
    <span class="block font-medium mb-1 inline-block">Acc. number:</span>
    <span class="font-bold"><%= portfolio.acc_number %></span>
  </span>

  <table class="table-auto mb-6 border-collapse border border-slate-400">
    <thead>
      <tr>
        <th class="border border-slate-300 px-4">Symbol</th>
        <th class="border border-slate-300 px-4">Quantity</th>
        <th class="border border-slate-300 px-4">Cost/share</th>
        <th class="border border-slate-300 px-4">Price</th>
        <th class="border border-slate-300 px-4">Change</th>
        <th class="border border-slate-300 px-4">Change %</th>
        <th class="border border-slate-300 px-4">Day gain</th>
        <th class="border border-slate-300 px-4">Day gain %</th>
        <th class="border border-slate-300 px-4">Gain</th>
        <th class="border border-slate-300 px-4">Gain %</th>
        <th class="border border-slate-300 px-4">Cost</th>
        <th class="border border-slate-300 px-4">Value</th>
        <th class="border border-slate-300 px-4">Opened date</th>
        
      </tr>
    </thead>
    <tbody>
    <% @positions.each do |position| %>
      <% if position.portfolio_id == portfolio.id %>
        <tr>
          <td class="border border-slate-300 px-4"><%= position.symbol %></td>
          <td class="border border-slate-300 px-4"><%= position.quantity %></td>
          <td class="border border-slate-300 px-4"><%= number_to_currency(position.cost_per_share) %></td>
          <% if position.symbol != 'Cash' %>
            <% price = @finnhub_client.quote(position.symbol) %>
            <% position_cost = position.quantity * position.cost_per_share %>
            <% position_value = position.quantity * price.c %>
            <td class="border border-slate-300 px-4"><%= number_to_currency(price.c) %></td>  
            <td class="border border-slate-300 px-4"><%= number_to_currency(price.d) %></td>
            <td class="border border-slate-300 px-4"><%= number_to_currency(price.dp) %></td>
            <td class="border border-slate-300 px-4"><%= number_to_currency(position.quantity * price.d) %></td>
            <td class="border border-slate-300 px-4"><%= number_to_percentage((position.quantity * price.d / position_cost * 100).round(2)).to_f %>%</td>
            <td class="border border-slate-300 px-4"><%= number_to_currency(position_value - position_cost) %></td>
            <td class="border border-slate-300 px-4"><%= number_to_percentage(((position_value - position_cost) / position_cost * 100).round(2)).to_f %>%</td>
            <td class="border border-slate-300 px-4"><%= number_to_currency(position_cost) %></td>
            <td class="border border-slate-300 px-4"><%= number_to_currency(position_value) %></td>
          <% end %>
          <td class="border border-slate-300 px-4"><%= position.open_date %></td>
        </tr>
        <% @total = @total + position.quantity * position.cost_per_share %>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <span class="my-5 block">
    <span class="block font-medium mb-1 inline-block">Portfolio Balance:</span>
    <% portfolio.cash == nil ? portfolio.cash = 0 : portfolio.cash %>
    <span class="font-bold"><%= number_to_currency(@total) %></span>
    <% @total = 0 %>
  </span>
  <% if action_name != "show" %>
    <%= link_to "Show", "/users/#{current_user.id}/portfolios/#{portfolio.id}", class: "rounded-lg py-1 px-3 bg-cyan-300 inline-block font-medium" %>
    <%= link_to 'Edit', "/users/#{current_user.id}/portfolios/#{portfolio.id}/edit", class: "rounded-lg py-1 ml-2 px-3 bg-cyan-500 inline-block font-medium" %>
    <%= link_to 'New position', "/users/#{current_user.id}/portfolios/#{portfolio.id}/positions/new", class: "rounded-lg ml-2 py-1 px-3 inline-block bg-blue-600 text-white block font-medium" %>
    <%= link_to 'New transaction', "/users/#{current_user.id}/portfolios/#{portfolio.id}/transactions/new", class: "rounded-lg ml-2 py-1 px-3 inline-block bg-blue-800 text-white block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
