<div id="<%= dom_id portfolio %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= portfolio.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Acc number:</strong>
    <%= portfolio.acc_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Balance:</strong>
    <%= portfolio.balance %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this portfolio", portfolio, class: "rounded-lg py-3 px-5 bg-cyan-300 inline-block font-medium" %>
    <%= link_to 'Edit this portfolio', edit_portfolio_path(portfolio), class: "rounded-lg py-3 ml-2 px-5 bg-cyan-500 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
