<div id="<%= dom_id portfolio %>" >
  <span class="my-5 inline-block mr-5">
    <span class="block font-medium mb-1 inline-block">Name:</span>
    <span class="font-bold"><%= portfolio.name %></span>
  </span>

  <span class="my-5 inline-block mr-5">
    <span class="block font-medium mb-1 inline-block">Acc. number:</span>
    <span class="font-bold"><%= portfolio.acc_number %></span>
  </span>

  <table class="table-auto mb-6 border-collapse border border-slate-400">
    <thead>
      <tr>
        <th class="border border-slate-300 px-4">Symbol</th>
        <th class="border border-slate-300 px-4">Quantity</th>
        <th class="border border-slate-300 px-4">Average price</th>
        <th class="border border-slate-300 px-4">Market value</th>
      </tr>
    </thead>
    <tbody>
    <% @positions.each do |position| %>
      <% if position.portfolio_id == portfolio.id %>
        <tr>
          <td class="border border-slate-300 px-4"><%= position.symbol %></td>
          <td class="border border-slate-300 px-4"><%= position.quantity %></td>
          <td class="border border-slate-300 px-4"><%= number_to_currency(position.cost_per_share) %></td>
          <td class="border border-slate-300 px-4"><%= number_to_currency(position.quantity * position.cost_per_share) %></td>
        </tr>
        <% @total = @total + position.quantity * position.cost_per_share %>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <span class="my-5 block">
    <span class="block font-medium mb-1 inline-block">Balance:</span>
    <span class="font-bold"><%= number_to_currency(portfolio.balance + @total) %></span>
    <% @total = 0 %>
  </span>
  <% if action_name != "show" %>
    <%= link_to "Show this portfolio", "/users/#{current_user.id}/portfolios/#{portfolio.id}", class: "rounded-lg py-3 px-5 bg-cyan-300 inline-block font-medium" %>
    <%= link_to 'Edit this portfolio', "/users/#{current_user.id}/portfolios/#{portfolio.id}/edit", class: "rounded-lg py-3 ml-2 px-5 bg-cyan-500 inline-block font-medium" %>
    <%= link_to 'New position', "/users/#{current_user.id}/portfolios/#{portfolio.id}/positions/new", class: "rounded-lg ml-2 py-3 px-5 inline-block bg-blue-600 text-white block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
