<div class="mx-auto md:w-4/4 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @portfolio %>

    <%= link_to 'Edit this portfolio', "/users/#{current_user.id}/portfolios/#{@portfolio.id}/edit", class: "mt-2 rounded-lg py-1 px-3 bg-dollar-split_blue text-white inline-block font-medium hover:bg-dollar-triad_blue" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this portfolio', "/users/#{current_user.id}/portfolios/#{@portfolio.id}", method: :delete, class: "mt-2 rounded-lg py-1 px-3 bg-dollar-triad_red font-medium text-white hover:bg-dollar-square_red" %>
    </div>
    <%= link_to 'Back to portfolios', user_portfolios_path, class: "ml-2 rounded-lg py-1 px-3 bg-dollar inline-block font-medium text-white hover:bg-dollar-darker" %>
  </div>
</div>
