  <div class="container">
  <h1 class="text-center my-16 font-bold text-4xl">User profile</h1>
  <div class="w-full mx-auto flex justify-between", style="column-gap: 1rem;">
    <div class="flex flex-col w-1/3">
      <div class="max-w-16">Avatar
        <% if current_user.provider != 'google_oauth2' %>
          <div class="mx-0">
            <div><%= gravatar_for(current_user) %></div>
          </div>
        <% else %>
          <% if current_user.avatar_url %>
            <%= image_tag current_user.avatar_url, style: "max-width: 128px; hight: auto;" %>
          <% end %>
        <% end %>
        <span>Avatar can be changed on <%= link_to "Gravatar", "https://en.gravatar.com/emails/",  target: :'_blank', rel: :'noopener noreferrer', class:"text-dollar-split_blue font-bold hover:text-dollar-complement" %> or <%= link_to "Google", "https://myaccount.google.com/",  target: :'_blank', rel: :'noopener noreferrer', class:"text-dollar-split_blue font-bold hover:text-dollar-complement" %></span>
      </div>
      <span>Name <%= @user.name %></span>
      <span>Email <%= @user.email %></span>
      <%= link_to "Edit you credentials", edit_user_registration_path, class: "mt-12 rounded-lg py-1 px-3 bg-dollar-split_blue inline-block font-medium text-white hover:bg-dollar-triad_blue w-fit" %>
    </div>
    <div class="flex flex-col w-1/3">
      <% @winners_amount = {} %>
      <% @winners_percent = {} %>
      <% @portfolio_name = {} %>
      <% @portfolio_id = {} %>
      <% @loosers_amount = {} %>
      <% @loosers_percent = {} %>
      <% @stock_rpl_winners = {} %>
      <% @stock_rpl_loosers = {} %>
      <% @winners = 0 %>
      <% @winners_rpl = 0 %>
      <% @loosers = 0 %>
      <% @loosers_rpl = 0 %>
      <% @stats = {} %>
      <% @positions.each do |position| %>
        <% portfolio_id = @portfolios.where(id: position.portfolio_id).pluck(:id)[0] %>
        <% @stats.store('portfolio_id', portfolio_id) %>
        <% @portfolio_id.store(position.symbol, @stats['portfolio_id']) %>

        
        <% stock_rpl = Stock.find_by(ticker: position.symbol, portfolio_id: @stats['portfolio_id']).realized_profit_loss %>
        <% @stats.store('realized_profit_loss', stock_rpl) %>
        
        
        <% price = @finnhub_client.quote(position.symbol) %>
        <% position_cost = position.quantity * position.cost_per_share - position.reinvested_income %>
        <% position_value = (position.quantity * price.c).round(2) %>
        <% profit_loss = position_value - position_cost %>
        <% @stats.store('amount', profit_loss) %>
        <% portfolio_name = @portfolios.where(id: position.portfolio_id).pluck(:name)[0] %>
        <% @stats.store('portfolio_name', portfolio_name) %>
        <% @portfolio_name.store(position.symbol, @stats['portfolio_name']) %>
        <% if position.quantity < 0 %>
          <% @stats.store('percent', profit_loss / position_cost * -100) %>
        <% else %>
          <% @stats.store('percent', profit_loss / position_cost * 100) %>
        <% end %>
        <% @stats.store('percent', @stats['percent'].round(2)) %>
        
        <% if (profit_loss >= 0) %>
          <% @winners += 1 %>
          <% @winners_amount.store(position.symbol, @stats['amount']) %>
          <% @winners_percent.store(position.symbol, @stats['percent']) %>
        <% else %>
          <% @loosers += 1 %>
          <% @loosers_amount.store(position.symbol, @stats['amount']) %>
          <% @loosers_percent.store(position.symbol, @stats['percent']) %>
        <% end %>

        <% if (@stats['realized_profit_loss'] >= 0) %>
          <% @winners_rpl += 1 %>
          <% @stock_rpl_winners.store(position.symbol, @stats['realized_profit_loss']) %>
        <% else %>
          <% @loosers_rpl += 1 %>
          <% @stock_rpl_loosers.store(position.symbol, @stats['realized_profit_loss']) %>
        <% end %>

      <% end %>
      <% position_cost = 0 %>
      <% position_value = 0 %>
      <% @winners_amount = @winners_amount.sort_by {|_key, amount| amount}.reverse.to_h %>
      <% @winners_amount = @winners_amount.first(3) %>
      <div>
        <h2 class="mb-2 text-lg font-medium mt-4">Top $ winning positions:</h2>
          <% @winners_amount.each do |key, value| %>
            <% if @winners > 0 %>
            <% @stock_data = @finnhub_client.company_profile2({ symbol: key }) %>
            <% @stock_id = Stock.find_by(ticker: key, portfolio_id: @portfolio_id[key]).id %>
            <div class="flex", style="column-gap: 1rem;">
              <div class="flex justify-between w-1/3">
                <span><%= link_to key, "/stocks/#{@stock_id}" %></span>
                <span class="text-green-600"><%= number_to_currency(value) %></span>
              </div>
              <div>
                <span class="text-600"><%= @portfolio_name[key] %></span>
              </div>
            </div>
            <% else %>
              <%= puts "You don't have any $ winners" %>
            <% end %>
          <% end %>
      </div>
      <% @winners_percent = @winners_percent.sort_by {|_key, percent| percent}.reverse.to_h %>
      <% @winners_percent = @winners_percent.first(3) %>
      <div>
        <h2 class="mb-2 text-lg font-medium mt-4">Top % winning positions:</h2>
          <% @winners_percent.each do |key, value| %>
            <% @stock_data = @finnhub_client.company_profile2({ symbol: key }) %>
            <% @stock_id = Stock.find_by(ticker: key, portfolio_id: @portfolio_id[key]).id %>
            <% if @winners > 0 %>
            <div class="flex", style="column-gap: 1rem;">
              <div class="flex justify-between w-1/3">
                <span><%= link_to key, "/stocks/#{@stock_id}" %></span>
                <span class="text-green-600"><%= number_to_percentage(value.round(2)).to_f %>%</span>
              </div>
              <div>
                <span class="text-600"><%= @portfolio_name[key] %></span>
              </div>
            </div>
            <% else %>
              <%= puts "You don't have any % winners" %>
            <% end %>
          <% end %>
      </div>
      
      <% @stock_rpl_winners = @stock_rpl_winners.sort_by {|_key, realized_profit_loss| realized_profit_loss}.reverse.to_h %>
      <% @stock_rpl_winners = @stock_rpl_winners.first(3) %>
      <div>
        <h2 class="mb-2 text-lg font-medium mt-4">Best realized profits:</h2>
          <% @stock_rpl_winners.each do |key, value| %>
            <% if @winners_rpl > 0 %>
            <% @stock_data = @finnhub_client.company_profile2({ symbol: key }) %>
            <% @stock_id = Stock.find_by(ticker: key, portfolio_id: @portfolio_id[key]).id %>
            <div class="flex", style="column-gap: 1rem;">
              <div class="flex justify-between w-1/3">
                <span><%= key %></span>
                <span class="text-green-600"><%= number_to_currency(value) %></span>
              </div>
              <div>
                <span class="text-600"><%= @portfolio_name[key] %></span>
              </div>
            </div>
            <% else %>
              <%= puts "You don't have realized profits" %>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="flex flex-col w-1/3">
      <div>
        <h2 class="mb-2 text-lg font-medium">Top $ loosing positions:</h2>
        <% @loosers_amount = @loosers_amount.sort_by {|_key, value| value}.to_h %>
        <% @loosers_amount = @loosers_amount.first(3) %>
        <% @loosers_amount.each do |key, value| %>
          <% if @loosers > 0 %>
            <% @stock_data = @finnhub_client.company_profile2({ symbol: key }) %>
            <% @stock_id = Stock.find_by(ticker: key, portfolio_id: @portfolio_id[key]).id %>
            <div class="flex", style="column-gap: 1rem;">
              <div class="flex justify-between w-1/3">
                <span><%= link_to key, "/stocks/#{@stock_id}" %></span>
                <span class="text-red-600"><%= number_to_currency(value) %></span>
              </div>
              <div>
                <span class="text-600"><%= @portfolio_name[key] %></span>
              </div>
          </div>
          <% else %>
            <%= puts "You don't have any $ loosers" %>
          <% end %>
        <% end %> 
      </div>
      <div>
        <h2 class="mb-2 text-lg font-medium mt-4">Top % loosing positions:</h2>
        <% @loosers_percent = @loosers_percent.sort_by {|_key, value| value}.to_h %>
        <% @loosers_percent = @loosers_percent.first(3) %>
        <% @loosers_percent.each do |key, value| %>
          <% if @loosers > 0 %>
            <% @stock_data = @finnhub_client.company_profile2({ symbol: key }) %>
            <% @stock_id = Stock.find_by(ticker: key, portfolio_id: @portfolio_id[key]).id %>
            <div class="flex", style="column-gap: 1rem;">
              <div class="flex justify-between w-1/3">
                <span><%= link_to key, "/stocks/#{@stock_id}" %></span>
                <span class="text-red-600"><%= number_to_percentage(value.round(2)).to_f %>%</span>
              </div>
              <div>
                <span class="text-600"><%= @portfolio_name[key] %></span>
              </div>
          </div>
          <% else %>
            <%= puts "You don't have any % loosers" %>
          <% end %>
        <% end %>
      </div>

      <% @stock_rpl_loosers = @stock_rpl_loosers.sort_by {|_key, realized_profit_loss| realized_profit_loss}.to_h %>
      <% @stock_rpl_loosers = @stock_rpl_loosers.first(3) %>
      <div>
        <h2 class="mb-2 text-lg font-medium mt-4">Worst realized losses:</h2>
          <% @stock_rpl_loosers.each do |key, value| %>
            <% if @loosers_rpl > 0 %>
            <% @stock_data = @finnhub_client.company_profile2({ symbol: key }) %>
            <% @stock_id = Stock.find_by(ticker: key, portfolio_id: @portfolio_id[key]).id %>
            <div class="flex", style="column-gap: 1rem;">
              <div class="flex justify-between w-1/3">
                <span><%= key %></span>
                <span class="text-red-600"><%= number_to_currency(value) %></span>
              </div>
              <div>
                <span class="text-600"><%= @portfolio_name[key] %></span>
              </div>
            </div>
            <% else %>
              <%= puts "You don't have realized losses" %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
