<div class="container flex flex-col items-center">
  <h2 class="text-3xl font-bold mb-5">Log in</h2>

  <%= form_for(resource, as: resource_name, data: { turbo: false }, url: session_path(resource_name)) do |f| %>
    <div class="field mb-5">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder:"Email", class:"rounded-md" %>
    </div>

    <div class="field mb-5">
      <%= f.password_field :password, autocomplete: "current-password", required: true, placeholder:"Password", class:"rounded-md" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class:"align-baseline" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "rounded-lg py-1 px-5 my-5 bg-dollar-split_blue text-white block font-medium mx-auto cursor-pointer hover:bg-dollar-triad_blue" %>
    </div>
  <% end %>

  <div class="flex flex-col w-fit">
    <%= render "devise/shared/links" %>
  </div>
</div>
