<div data-controller="forms">
  <%= form_with(model: transaction, url: "/users/#{current_user.id}/portfolios/#{params[:portfolio_id]}/transactions/", class: "contents") do |form| %>
    <% if transaction.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
        <ul>
          <% transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.collection_select :product_type, ['', 'Buy', 'Sell', 'Sell short', 'Buy to cover', 'Cash in', 'Cash out'],
                                :to_s,
                                :titlecase,
                                {},
                                data: { action: "change->forms#handleChange" } %>
    </div>

    <div class="my-5">
      <%= form.date_field :trade_date, value: Date.today, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true, placeholder:"Trade date" %>
    </div>

    <div class="my-5" data-forms-target="toggleableSymbol">
      <%= form.text_field :symbol, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true, placeholder:"Symbol" %>
    </div>

    <div class="my-5"  data-forms-target="toggleableQuantity">
      <%= form.number_field :quantity, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true, placeholder:"Quantity" %>
    </div>

    <div class="my-5">
      <%= form.number_field :price, step: 0.01, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true, placeholder:"Price" %>
    </div>

    <div class="my-5"  data-forms-target="toggleableCommission">
      <%= form.number_field :commission, step: 0.01, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:"Commission" %>
    </div>

    <div class="my-5"  data-forms-target="toggleableFee">
      <%= form.number_field :fee, step: 0.01, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:"Fee" %>
    </div>

    <%= form.hidden_field :portfolio_id, value: @portfolio.id %>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-1 px-3 bg-dollar-split_blue text-white inline-block font-medium cursor-pointer hover:bg-dollar-triad_blue" %>
    </div>
  <% end %>
</div>
