<div class="w-full">
  <% cell = "border border-slate-300 px-4" %>
  <h1 class="font-bold text-4xl mb-8">Transactions</h1>
  <%= link_to 'New transaction', new_user_portfolio_transaction_path, class: "rounded-lg py-1 px-3 bg-dollar-split_blue text-white font-medium" %>
  <div id="transactions" class="min-w-full mt-6">
    <table class="table-auto mb-6 border-collapse border border-slate-400">
      <thead>
        <tr>
          <th class="<%= cell %>">Type</th>
          <th class="<%= cell %>">Date</th>
          <th class="<%= cell %>">Symbol</th>
          <th class="<%= cell %>">New Symbol</th>
          <th class="<%= cell %>">Quantity</th>
          <th class="<%= cell %>">Old Quantity</th>
          <th class="<%= cell %>">Split ratio</th>
          <th class="<%= cell %>">Price</th>
          <th class="<%= cell %>">Commission</th>
          <th class="<%= cell %>">Fee</th>
          <th class="<%= cell %>">Total</th>
          <th colspan="2" class="<%= cell %>">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @transactions %>
      </tbody>
      <tfoot>
        <tr>
          <td class="<%= cell %> font-bold">Total</td>
          <% 6.times do %>
            <td class="<%= cell %>"></td>
          <% end %>
          <td class="<%= cell %> text-red-600">-<%= number_to_currency(@total_commissions) %></td>
          <td class="<%= cell %> text-red-600">-<%= number_to_currency(@total_fees) %></td>
          <% red_or_green = @income_spent > 0 ? 'text-green-600' : 'text-red-600' %>
          <td class="<%= cell %> <%= red_or_green %>"><%= number_to_currency(@income_spent) %></td>
          <td colspan="2"  class="<%= cell %>"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <%= link_to 'New transaction', new_user_portfolio_transaction_path, class: "rounded-lg py-1 px-3 bg-dollar-split_blue text-white font-medium" %>
</div>
