<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-12 px-5 flex-col">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <header class="container bg-purple-400">
        <nav class="mb-6">
          <% if current_user.nil? %>
            <div class="flex justify-end">
              <%= link_to 'LOG IN', new_user_session_path, { class: 'my-4 mr-6'} %>
              <%= link_to 'SIGN UP', new_user_registration_path, { class: 'my-4 mr-6'} %>
            </div>
          <% else %>
            <div class="flex justify-end">
              <%= button_to 'LOG OUT', destroy_user_session_path, method: :delete, class: 'my-4 mr-6' %>
            </div>
          <% end %>
        </nav>
      </header>
      <%= yield %>
    </main>
  </body>
</html>
